<div class="content-header">
  <h1><%= (actionType == "create") ? "Create" : "Edit" %> Category</h1>
</div>

<% errors.length > 0 && errors.forEach((error) => { %>
<div class="error"><%= error.msg %></div>
<% }); %>

<form method="post" action="<%= actionTarget %>" class="content-form">
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= category.name %>" required />
  <button type="submit" class="button">
    <%= (actionType == "create") ? "Create" : "Save" %>
  </button>
</form>
