<div class="content-header">
  <h1>Items</h1>
  <%- include("create-button", { target: "/item/create", text: "Create Item"}) %>
</div>

<%- include("message") %>

<table class="list">
  <tr>
    <th>ID</th>
    <th class="stretch">Name</th>
    <th>Categories</th>
    <th>Price</th>
    <th>In Stock</th>
  </tr>
  <% items.forEach((item) => { %>
  <tr>
    <td><%= item.id %>
    <td class="stretch"><a href="/item/<%= item.id %>"><%= item.name %></a></td>
    <td>
      <% item.categories.forEach((category) => { %>
      <a href="/category/<%= category.id %>" class="category"><%= category.name %></a>
      <% }) %>
    </td>
    <td <%= (!item.price) ? "class=subtle" : "" %>><%= item.price ?? "N/A" %></td>
    <td <%= (!item.in_stock) ? "class=subtle" : "" %>><%= item.in_stock ?? "N/A" %></td>
  </tr>
  <% }); %>
</table>
